/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #000;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #000;
  position: relative;
}

header .logo img {
  width: 150px;
  height: 100px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  color: #fff200;
}

/* Menu Hambúrguer */
.menu-toggle {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-toggle .bar {
  background-color: #fff;
  height: 4px;
  width: 25px;
  margin: 5px 0;
  transition: 0.3s;
}










/* PAGINA PRINCIPAL */

.contagem{
  color: #fff200;
  font-weight: bolder;
}
.hero {
  position: relative;
  width: 100%;  /* Largura 100% da tela */
  height: 500px;  /* A altura será ajustada para 500px */
  overflow: hidden;  /* Impede que a imagem ultrapasse os limites da seção */
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* A imagem vai cobrir a área sem distorcer */
  object-position: center 9%;  /* Ajuste para a imagem estar ligeiramente abaixo do topo */
  z-index: -1;  /* A imagem ficará atrás do conteúdo */
  opacity: 0.3;  /* Adiciona opacidade para escurecer a imagem */
}

.hero-content {
  position: absolute;  /* A posição é absoluta para centralizar o conteúdo dentro da seção */
  top: 50%;  /* Coloca o conteúdo no meio verticalmente */
  left: 50%;  /* Coloca o conteúdo no meio horizontalmente */
  transform: translate(-50%, -50%);  /* Ajusta a posição para garantir que o conteúdo fique centrado */
  text-align: center;
  color: #fff;
  width: 100%;  /* Garante que o conteúdo ocupe toda a largura disponível */
}

.hero-content h2 {
  font-size: 55px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 30px;
  margin-bottom: 30px;
}

.hero-content .btn {
  padding: 15px 30px;
  background-color: #fff200;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.hero-content .btn:hover {
  background-color: #e6b800;
}


.btn1:hover{
background-color: #e6b800; 
}



/* Seção diferenciais */
.differentials {
  padding: 60px 8%;
  text-align: center;
  background-color: #000;
  margin-bottom: -50PX;
}

.differentials h2 {
  font-size: 34px;
  margin-bottom: 15px;
  margin-top: -15PX;
  color: #fff200;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.differentials-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.differentials-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

.differentials-image img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 15px 15px 0 0 #fff200; /* Sombra destacada */
  transition: transform 0.3s ease-in-out;
}

.differentials-image img:hover {
  transform: scale(1.05);
}

.differentials-text {
  flex: 1;
  max-width: 500px;
  padding: 20px;
  background: rgba(90, 73, 73, 0.055);
  padding-left: 20px;
  border-radius: 5px;
  text-align: left;
}

.differential {
  display: flex;
  align-items: center; /* Centraliza verticalmente o ícone e o h3 */
  text-align: left;
  margin-bottom: 20px;
  background: rgba(255, 242, 0, 0.1);
  padding: 15px;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
  gap: 15px;
}

.differential:hover {
  background: rgba(255, 242, 0, 0.2);
}

.differential i {
  font-size: 36px;
  color: #fff200;
  flex-shrink: 0;
}

.differential-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.differential h3 {
  font-size: 22px;
  color: #fff200;
  font-weight: bold;
  margin: 0;
  padding-top: 10px; /* Ajuste o valor para centralizar melhor */
}

.differential p {
  font-size: 16px;
  color: #FFF;
  margin-top: 5px;
  line-height: 1.4;
  min-height: 45px;
  display: flex;
  align-items: center;
}




/* Seção de Serviços */
.services {
  padding: 60px 10%;
  text-align: center;
  background-color: #111;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff200;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #222;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #fff200;
}

.card i {
  font-size: 40px;
  color: #fff200;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.card p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 20px;
}

.card .btn {
  padding: 10px 20px;
  background-color: #fff200;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.card .btn:hover {
  background-color: #e6b800;
}







/* Seção Sobre Nós */
.about {
  padding: 60px 10%;
  background-color: #000;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 15px 15px 0 0 #fff200;
}


.about-text {
  flex: 1;
  padding: 20px;
  color: #ccc;
  text-align: left;
}

.about-text h2 {
  font-size: 36px;
  color: #fff200;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.8;
}

/* Responsivo */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 100%;
    max-width: 400px;
  }

  .about-text {
    padding: 20px 0;
  }
}




/* Seção Orçamento Rápido */
.budget {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 60px 0 80px 0; /* Aumentando o padding inferior para mais espaço */
  height: auto; /* Remover a altura fixa, permitindo que a seção se ajuste */
  position: relative;
}

.divider-top, .divider-bottom {
  height: 5px;
  background-color: #fff200;
  width: 90%; /* Ajustando a largura das linhas para 50% da tela */
  margin: 0 auto; /* Centraliza as linhas */
}

.divider-bottom {
  margin-top: 40px; /* Espaçamento maior entre o botão e a linha divisória inferior */
}

.budget-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff200; /* Cor de destaque */
  margin-TOP: 20px; /* Espaçamento maior entre o botão e a linha */
}

.budget-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Botão */
.btn-budget {
  padding: 15px 30px;
  background-color: #fff200;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
  margin-bottom: 20px; /* Espaçamento maior entre o botão e a linha */
}

.btn-budget:hover {
  background-color: #e6b800; /* Cor quando passar o mouse */
}




/* Seção de Localização */
.location {
  padding: 60px 10%;
  text-align: center;
  background-color: #111;
}

.location h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff200;
}

.map {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.location .btn {
  padding: 15px 30px;
  background-color: #fff200;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
 
}

.location .btn:hover {
  background-color: #e6b800;
}





/* Rodapé */
footer {
  background-color: #111;
  color: #fff;
  padding: 40px 10%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 30%;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff200;
}

.footer-section a {
  font-size: 32px; /* Aumenta o tamanho do ícone */
  color: #fff; /* Cor branca */
}

.footer-section a:hover {
  color: #fff200; /* Amarelo no hover */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #444;
}

/* Responsividade */
@media (max-width: 768px) {
  .service-cards .card {
    width: 100%;
  }

  .footer-section {
    width: 100%;
  }
}


/* Animação de pulsação para os botões */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

/* Estilo base dos botões */
.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #fff200;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  
}

.btn1 {
  display: inline-block;
  padding: 15px 30px;
  background-color: #fff200;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  animation: pulse 2s infinite;
}

/* Efeito ao passar o mouse (hover) */



html {
  scroll-behavior: smooth;
}